<div class="container-fluid">
    <table class="table mt-2">
        <thead>
            <tr class="text-uppercase table-active">
                <th scope="col">Request Number</th>
                <th scope="col">Request Title</th>
                <th scope="col">Status</th>
                <th scope="col">Assigned to</th>
                <th scope="col">Assigned by</th>
                <th scope="col">Severity</th>
                <th scope="col">Priority</th>
                <th scope="col">Last_Updated_Date</th>
                <th scope="col">Request Age</th>
    
    
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a>data</a></td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                <td>data</td>
                
    
            </tr>
        </tbody>
    </table>
</div>
