<div *ngIf="step == 1" class="container mt-3">
    <div class="row  d-flex justify-content-center">
        <div class="col-12  d-flex justify-content-center">
            <div class="card" style="width: 39rem;" id="shadow">
                <div class="card-header">
                    <h1 class="card-title d-flex justify-content-center">Choose Parent Department
                    </h1>
                </div>
                <div class="card-body justify-content-center">
                    <form [formGroup]="parentDeptForm" (ngSubmit)="submitParentForm()">
                        <div *ngIf="role == 'admin'" class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <select class="form-select" aria-label="Default select example" name="depcode" formControlName="depcode">
                                <option value="" selected disabled>-Select-</option>
                                <option *ngFor="let dept of deptCodeList" value={{dept.decode}}>{{dept.dename}}</option>
                            </select>
                            <label style="margin-left: 2.2rem;" for="floatingInput">Select Department</label>
                        </div>

                        <!-- <div *ngIf="role == 'supadmin'" class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <select class="form-select" aria-label="Default select example" name="depcode" formControlName="depcode">
                                <option value="" selected disabled>-Select-</option>
                                <option *ngFor="let dept of deptCodeList" value={{dept.decode}}>{{dept.dename}}</option>
                            </select>
                            <label style="margin-left: 2.2rem;" for="floatingInput">Select Department</label>
                        </div> -->


                        <div *ngIf="role == 'supadmin'" class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <input type="text" class="form-control" formControlName="depcode" aria-label="depcode" aria-describedby="basic-addon1" list="browsers" name="depcode" id="depcode" autocomplete="off">
                            <label style="margin-left: 2.8rem;" for="floatingInput">Parent
                                Department Code</label>

                            <datalist id="browsers">
                            <option style="width: 400px" *ngFor="let dept of deptCodeList" value={{dept.decode}}>{{dept.dename}}</option>
                            </datalist>

                        </div>



                        <div class="col-sm-12 text-center">
                            <button class="btn btn-outline-primary float-left " id="savedept" type="submit" style="width: 50%" [disabled]="!parentDeptForm.valid">Proceed</button>
                            <button class="btn btn-outline-secondary float-right" type="reset" style="width: 50%">RESET</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="step == 2" class="container">
    <div class="row  d-flex justify-content-center">
        <div class="col-12  d-flex justify-content-center">
            <div class="card" style="width: 39rem;" id="shadow">
                <div class="card-header">
                    <h1 class="card-title d-flex justify-content-center">Create Department
                    </h1>
                </div>
                <div class="card-body justify-content-center">
                    <form [formGroup]="createDepartmentData" (ngSubmit)="onDepartmentSubmit()">
                        <div class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <input type="text" class="form-control" aria-label="decode" aria-describedby="basic-addon1" formControlName="decode" id="decode" name="decode" required="required" [readOnly]="!flag">
                            <label style="margin-left: 2.2rem;" for="floatingInput">Department Code</label>
                        </div>

                        <div class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <input type="text" class="form-control" aria-label="dename" aria-describedby="basic-addon1" formControlName="dename" name="dename" required="required">
                            <label style="margin-left: 2.2rem;" for="floatingInput">Department Name</label>
                        </div>

                        <div class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-building"></i></span>
                            <input type="text" class="form-control" aria-label="depcode" aria-describedby="basic-addon1" formControlName="depcode" name="depcode" required="required" readonly>
                            <!-- <select class="form-select" aria-label="Default select example" name="depcode" formControlName="depcode">
                                    <option value="HR0001">HR0001</option>
                            </select> -->
                            <label style="margin-left: 2.2rem;" for="floatingInput">Selected Department</label>
                        </div>

                        <div class="input-group form-floating mb-2">
                            <span class="input-group-text"><i class="fas fa-exclamation"></i></span>
                            <select class="form-select" name="deisactive" formControlName="deisactive" aria-label="Floating label select example">
                                    <option value="true">Active</option>
                                    <option value="false">Inactive</option>
                                </select> <label for="floatingSelect" style="margin-left: 2.2rem;">Status</label>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button class="btn btn-outline-primary float-left " id="savedept" type="submit" style="width: 50%">Save Department</button>
                            <button class="btn btn-outline-secondary float-right" type="button" style="width: 50%" (click)="backToParent()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
