<div class="content">
    <div class="card mr-3 ml-3" id="shadow" style="width: 100%;">
        <div class="card-body" id="bd01">
            <div class="table-responsive-md">
                <table id="viewuser" class="table display" style="width: 100%;">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Created By</th>
                            <th scope="col">IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- {{userList | json}} -->
                        <tr *ngFor='let user of userList'>
                            <td scope="row">{{user.uFName}}</td>
                            <td scope="row">{{user.uLName}}</td>
                            <td scope="row">
                                <a [routerLink]="['../edit',user.uName ]">{{user.uName}}</a>
                            </td>
                            <td scope="row">{{user.uEmail}}</td>
                            <td scope="row">{{user.uCDate}}</td>
                            <td scope="row">{{user.uCBy}}</td>
                            <td scope="row">{{user.uIsActive}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
