<div class="content">
    <div class="card mr-3 ml-3" id="shadow" style="width: 100%;">
        <div class="card-body" id="bd01">
            <div class="table-responsive-md">
                <table id="viewuser" class="display" style="width: 100%;">
                    <thead>
                        <tr class="text-uppercase">
                            <th scope="col">FIrst Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Create Date</th>
                            <th scope="col">Create By</th>
                            <th scope="col">IsActive</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <a></a>
                            </td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                            <td scope="row"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>