<div class="content mt-3" *ngIf="step == 1">
    <div class="container">
        <div class="row ">
            <div class="col-12 d-flex justify-content-center">
                <div class="card" style="width: 39rem;" id="shadow">
                    <div class="card-header">
                        <h1 class="card-title d-flex justify-content-center">Edit User
                        </h1>
                        <a (click)="goToManageAccess()" class="d-flex justify-content-center" id="link">Manage User Access</a>
                    </div>
                    <div class="card-body justify-content-center">
                        <form [formGroup]="userForm" (ngSubmit)="userUpdateSubmit()">
                            <div class='main '>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    <input type="text" class="form-control" aria-label="uName" aria-describedby="basic-addon1" formControlName="uName" name="uName" required required="required">
                                    <label style="margin-left: 2.2rem;" for="floatingInput">UserName</label>
                                </div>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                    <input type="text" class="form-control" aria-label="uFName" aria-describedby="basic-addon1" formControlName="uFName" name="uFName" required="required">
                                    <label style="margin-left: 2.2rem;" for="floatingInput">First Name</label>
                                </div>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                                    <input type="text" class="form-control" aria-label="uLName" aria-describedby="basic-addon1" formControlName="uLName" name="uLName" required="required">
                                    <label style="margin-left: 2.2rem;" for="floatingInput">Last Name</label>
                                </div>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas  fa-envelope-open-text"></i></span>
                                    <input type="email" class="form-control" aria-label="uEmail" aria-describedby="basic-addon1" formControlName="uEmail" name="uEmail" required="required">
                                    <label style="margin-left: 2.2rem;" for="floatingInput">User Email</label>
                                </div>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    <input type="password" class="form-control" aria-label="uPassword" aria-describedby="basic-addon1" formControlName="uPassword" name="uPassword" required="required">
                                    <label style="margin-left: 2.2rem;" for="floatingInput">User Password</label>
                                </div>
                                <div class="input-group form-floating mb-2">
                                    <span class="input-group-text"><i class="fas fa-exclamation"></i></span>
                                    <select class="form-select" formControlName="uIsActive" name="uIsActive" aria-label="Floating label select example">
                                      <option value="true" selected>Active</option>
                                      <option value="false">InActive</option>
                                  </select> <label for="floatingSelect" style="margin-left: 2.2rem;">Status</label>
                                </div>

                                <div class="col-sm-12 text-center">
                                    <button class="btn btn-outline-primary float-left " type="submit" style="width: 45%">Save User</button>
                                    <button class="btn btn-outline-secondary float-right" type="reset" style="width: 45%">RESET</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<section *ngIf="step == 2" class="container">
    <div class="card m-3 mx-auto" id="shadow">


        <div class="card-body" id="bd01">
            <div class="table-responsive-md container">

                <h1 class="text-center bg-light mb-3">Manage User Access</h1>

                <table class="table table-footer-cell" id="myTable">
                    <thead>
                        <tr class="text-uppercase">
                            <th style="display: none;" scope="col">User ID</th>
                            <th style="display: none;" scope="col">Department Code</th>
                            <th scope="col">Department Name</th>
                            <th style="display: none;" scope="col">CreatedDate</th>
                            <th style="display: none;" scope="col">createdBy</th>
                            <th scope="col">User_Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="dcl : ${listDepts}">

                            <td style="display: none;" th:text="${id}" th:value="${id}"></td>
                            <td style="display: none;" scope="row" th:text="${dcl.deptId}" th:value="${dcl.deptId}">
                            </td>
                            <td scope="row" th:text="${dcl.departmentName}" th:value="${dcl.departmentName}"></td>

                            <td style="display: none;" th:text="${session.curdate}" th:value="${session.curdate}">
                            </td>
                            <td style="display: none;" th:text="${session.userId}" th:value="${session.userId}"></td>

                            <td scope="row"><select class="form-select" aria-label="Default select example" name="role" id="role">
                                    <option selected="selected" value="no permission">no permission</option>
                                    <option value="user">user</option>
                                    <option value="admin">admin</option>
                                </select></td>
                        </tr>

                    </tbody>

                </table>

                <div class="col-sm-12 text-center">
                    <a class="btn btn-outline-primary float-left " id="myButton" type="submit" th:href="@{/ViewUsers}" style="width: 50%">Save Department Access</a>
                    <button class="btn btn-outline-secondary float-right" type="reset" style="width: 50%" (click)="backToEdit()">Back</button>
                </div>


            </div>
        </div>
    </div>

</section>
